<mat-expansion-panel [hideToggle]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>Button</mat-panel-title>
    <mat-panel-description>MatButtonModule</mat-panel-description>
  </mat-expansion-panel-header>
  <ed-material-button></ed-material-button>
</mat-expansion-panel>

<mat-expansion-panel [hideToggle]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>Input</mat-panel-title>
    <mat-panel-description>MatInputModule</mat-panel-description>
  </mat-expansion-panel-header>
  <ed-material-input></ed-material-input>
</mat-expansion-panel>

<mat-expansion-panel [hideToggle]="false" expanded>
  <mat-expansion-panel-header>
    <mat-panel-title>List</mat-panel-title>
    <mat-panel-description>MatListModule</mat-panel-description>
  </mat-expansion-panel-header>
  <ed-material-list></ed-material-list>
</mat-expansion-panel>