<h3>Boton Rectangular de Texto</h3>
<div>
    <button mat-button>mat-button</button>
    <span>&nbsp;</span>
    <button mat-button color="primary">mat-button</button>
</div>

<h3>Boton Rectangular con Elevación</h3>
<div>
    <button mat-raised-button>mat-raised-button</button>
    <span>&nbsp;</span>
    <button mat-raised-button color="primary">mat-raised-button</button>
</div>

<h3>Boton Rectangular sin Elevación</h3>
<div>
    <button mat-flat-button>
        mat-flat-button
    </button>
    <span>&nbsp;</span>
    <button mat-flat-button color="primary">
        mat-flat-button
    </button>
</div>

<h3>Boton Rectangular Dibujado</h3>
<div>
    <button mat-stroked-button>
        mat-stroked-button
    </button>
    <span>&nbsp;</span>
    <button mat-stroked-button color="primary">
        mat-stroked-button
    </button>
</div>

<h3>Boton Circular con fondo transparente para Iconos</h3>
<div>
    <button mat-icon-button>
        <mat-icon>grade</mat-icon>
    </button>
    <button mat-icon-button color="primary">
        <mat-icon>grade</mat-icon>
    </button>
</div>

<h3>Boton Circular de Accion Flotante</h3>
<div>
    <button mat-fab>
        <mat-icon>grade</mat-icon>
    </button>
    <span>&nbsp;</span>
    <button mat-fab color="primary">
        <mat-icon>grade</mat-icon>
    </button>
</div>

<h3>Boton Circular de Accion Flotante Pequeño</h3>
<div>
    <button mat-mini-fab>
        <mat-icon>grade</mat-icon>
    </button>
    <span>&nbsp;</span>
    <button mat-mini-fab color="primary">
        <mat-icon>grade</mat-icon>
    </button>
</div>